Options -Indexes +FollowSymLinks -MultiViews

php_value error_log error_log.txt
php_value short_open_tag On
php_flag magic_quotes_gpc Off
php_flag register_globals Off
php_value output_handler ob_gzhandler

AddDefaultCharset utf-8
<ifModule mod_deflate.c>
    <FilesMatch "\.(php|css|js|json|txt)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</ifModule>
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType text/css "access plus 6 months"
    ExpiresByType text/plain "access plus 1 hour"
    ExpiresByType text/cache-manifest "access plus 0 seconds"
    ExpiresByType application/x-httpd-php "access plus 0 second"
    ExpiresByType application/x-javascript "access plus 6 months"
    ExpiresByType application/javascript "access plus 6 months"
    ExpiresByType application/json "access plus 0 second"
</ifModule>
<ifModule mod_headers.c>
    <filesMatch "\.(css|js|json|txt)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
    <filesMatch "\.(php)$">
        Header set Cache-Control "max-age=600, private, must-revalidate"
    </filesMatch>
    FileETag None
    Header unset ETag
    Header unset Last-Modified
    Header append Vary User-Agent
</ifModule>
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</IfModule>
<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_can_negotiate Yes
    mod_gzip_static_suffix .gz
    AddEncoding gzip .gz
    mod_gzip_update_static No
    mod_gzip_keep_workfiles No
    mod_gzip_minimum_file_size 512
    mod_gzip_maximum_file_size 1048576
    mod_gzip_maximum_inmem_size 60000
    mod_gzip_maximum_inmem_size 60000
    mod_gzip_min_http 1000
    mod_gzip_handle_methods GET POST
    mod_gzip_dechunk No
    mod_gzip_item_exclude reqheader \"User-agent: Mozilla/4.0[678]\"\
    mod_gzip_item_include file \.(php|css|js|txt)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include handler proxy-server
    mod_gzip_item_include mime ^text/css$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/json$
    mod_gzip_item_include mime ^application/javascript$
    mod_gzip_item_include mime ^application/x-httpd-php$
    mod_gzip_item_include mime ^application/x-javascript$
    mod_gzip_item_include mime ^httpd/unix-directory$
    mod_gzip_item_exclude rspheader Content-Type:image/*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Ajax SEO /?_escaped_fragment_=friendly-url redirect to /friendly-url
    RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
    RewriteRule .*$ %{REQUEST_URI}%1? [R=301,L]
    
    # Remove multiple trailing slashes after domain
    RewriteCond %{THE_REQUEST} ^[A-Z]+\s//+(.*)\sHTTP/[0-9.]+$
    RewriteRule . http://%{HTTP_HOST}/%1 [R=301,L]
    
    # Remove multiple trailing slashes in the URL
    RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
    RewriteRule . %1/%2 [R=301,L]
    
    # Removes trailing slash from URL end
    RewriteCond %{REQUEST_URI} ^(.+)/$
    RewriteRule ^.+/$ %1 [R=301,L]
    
    # Rewrite uppercase letter URL to lowercase
    RewriteCond %{REQUEST_URI} .+
    RewriteRule ^[^A-Z]*[A-Z] ${lc:%0} [R=301,L]

    # Remove .php extension
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*[^.]+\.php(\?[^\ ]*)?\ HTTP/ [NC]
    RewriteRule ^(([^/]+/)*[^.]+)\.php$ http://%{HTTP_HOST}/%1$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^.]*)$ index.php?url=$1 [L,QSA]
    RewriteRule ^([^/\./-/+]*)\.json$ data.php?url=$1 [L,QSA]
</IfModule>