# Without -MultiViews will be returned 404 error for a rewrite if a folder of the same name does not exist.
# For highest performance, and no symlink protection, set FollowSymLinks everywhere, and never set SymLinksIfOwnerMatch, http://httpd.apache.org/docs/current/misc/perf-tuning.html#symlinks
# With +IncludesNOEXEC server-side includes are permitted, but the #exec cmd and #exec cgi are disabled.
# It is still possible to #include virtual CGI scripts from ScriptAliase'd directories, http://httpd.apache.org/docs/trunk/mod/core.html
Options -MultiViews -SymLinksIfOwnerMatch +IncludesNOEXEC

# Block users from browsing folders without a default document
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

ServerSignature Off
# DirectorySlash Off

# Security
# Uncomment php_flag and php_value if you are not able to apply config/php.ini on your server
# php_flag  allow_url_fopen 0
# php_flag  allow_url_include 0
# php_flag  display_errors 0
# php_flag  expose_php 0
# php_flag  log_errors 1
# php_flag  session.use_trans_sid 0
# php_flag  short_open_tag 0
# php_value error_log error_log.txt

# Use UTF-8 encoding for anything served as text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for other file types
AddCharset utf-8 .css .js .json .xml .vtt

# Define proper MIME type
AddType application/javascript         js
AddType application/json               json
AddType application/vnd.ms-fontobject  eot
AddType application/x-chrome-extension crx
AddType application/x-font-ttf         ttf
AddType application/x-font-woff        woff
AddType application/xml                xml
AddType audio/ogg                      oga ogg
AddType font/opentype                  otf
AddType image/svg+xml                  svg
AddType image/webp                     webp
AddType image/x-icon                   ico
AddType text/cache-manifest            appcache
AddType text/vtt                       vtt
AddType video/mp4                      mp4
AddType video/ogg                      ogv
AddType video/webm                     webm
AddType video/x-flv                    flv

# Custom error pages
ErrorDocument 403 /ajax-seo/?url=error
# ErrorDocument 403 "403 Forbidden"
# ErrorDocument 404 "404 Not Found"
# ErrorDocument 500 "500 Internal Server Error"

# Gzip compression
<IfModule mod_deflate.c>
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding

            # Force IE to render in the most recent mode http://expression.microsoft.com/en-us/dd835379.aspx
            # and run Google Chrome Frame http://www.chromium.org/developers/how-tos/chrome-frame-getting-started#TOC-Making-Your-Pages-Work-With-Google-Chrome-Frame
            BrowserMatch MSIE ie
            Header set X-UA-Compatible "IE=edge,chrome=1" env=ie

            # Remove cross-site scripting attacks on IE8 and IE9 http://technet.microsoft.com/en-us/security/bulletin/MS10-002#section6
            BrowserMatch "MSIE [8-9]" ie89
            Header set X-XSS-Protection "1; mode=block" env=ie89
        </IfModule>
    </IfModule>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/javascript \
                                      application/json \
                                      application/rss+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain
    </IfModule>
</IfModule>

# Improve better cache control
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault                              "access plus 1 month"
    ExpiresByType application/javascript        "access plus 1 year"
    ExpiresByType application/json              "access plus 0 seconds"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
    ExpiresByType application/x-font-ttf        "access plus 1 month"
    ExpiresByType application/x-font-woff       "access plus 1 month"
    ExpiresByType application/xml               "access plus 0 seconds"
    ExpiresByType audio/ogg                     "access plus 1 month"
    ExpiresByType font/opentype                 "access plus 1 month"
    ExpiresByType image/gif                     "access plus 1 month"
    ExpiresByType image/jpeg                    "access plus 1 month"
    ExpiresByType image/png                     "access plus 1 month"
    ExpiresByType image/svg+xml                 "access plus 1 month"
    ExpiresByType image/x-icon                  "access plus 1 week"
    ExpiresByType text/cache-manifest           "access plus 0 seconds"
    ExpiresByType text/css                      "access plus 1 year"
    ExpiresByType text/html                     "access plus 0 seconds"
    ExpiresByType text/plain                    "access plus 1 month"
    ExpiresByType video/mp4                     "access plus 1 month"
    ExpiresByType video/ogg                     "access plus 1 month"
    ExpiresByType video/webm                    "access plus 1 month"
</IfModule>
<IfModule mod_headers.c>
    # Do not show a snippet in the search results for this files
    <FilesMatch "\.(css|js|json|txt|xml)$">
        Header set X-Robots-Tag nosnippet
    </FilesMatch>

    # Allow Web Fonts access from all domains
    <FilesMatch "\.(woff|ttf|otf|eot)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>

    # Execute this files as PHP
    <FilesMatch "(humans.txt|manifest.appcache|robots.txt|sitemap.xml)">
        SetHandler application/x-httpd-php
    </FilesMatch>

    # Prevent clickjacking
    Header always append X-Frame-Options DENY

    Header unset ETag
</IfModule>

FileETag None

<IfModule mod_rewrite.c>
    # FollowSymLinks must be enabled for turning on the rewrite engine
    Options FollowSymlinks

    RewriteEngine On

    # Handle HTTPS protocol
    RewriteCond %{HTTPS} on
    RewriteRule . - [env=https:s]

    # Rewrite www to no-www domain
    RewriteCond %{HTTP_HOST} ^www\.(.+)$
    RewriteRule ^ http%{ENV:https}://%1%{REQUEST_URI} [R=301,L]

    # Avoid subdomains
    # RewriteCond %{HTTP_HOST} !^domain\.com
    # RewriteRule . http%{ENV:https}://domain.com%{REQUEST_URI} [R=301,L]

    # Rewrite exceptions for specific path
    RewriteRule ^images/ - [L]

    # Rewrite uppercase letters URL to lowercase. Needs for httpd.conf "RewriteMap lc int:tolower"
    # Solution without RewriteMap in https://github.com/laukstein/ajax-seo/wiki/Lowercase-URL
    RewriteCond %{REQUEST_URI} .+
    RewriteRule .*[A-Z] ${lc:%0} [R=301,L]

    # Apache and Firefox bug with backslash URL encoding https://issues.apache.org/bugzilla/show_bug.cgi?id=35256
    # Rewrite backslash to slash. Needs for httpd.conf "AllowEncodedSlashes On"
    RewriteCond %{REQUEST_URI} (.*)\\(.*)
    RewriteRule . %1/%3 [R=301,L]

    # Remove index files and extensions
    # Remove index.php and index.html
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.(php|html)/?(.*)\ HTTP/
    RewriteRule . http%{ENV:https}://%{HTTP_HOST}/%1%3 [R=301,L]
    # Remove extensions php and html
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)\.(php|html)(.*)\ HTTP/
    RewriteRule . http%{ENV:https}://%{HTTP_HOST}/%1%3 [R=301,L]

    # Slashes issues
    # Replace multiple slashes with single slash directly after the domain
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ //+(.*)\ HTTP/ [OR]
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ (.+)//\ HTTP/
    RewriteRule .* http%{ENV:https}://%{HTTP_HOST}/%1 [R=301,L]

    # Replace multiple slashes with single slash in URL
    RewriteCond %{REQUEST_URI} (.*)//(.*)
    RewriteRule . %1/%2 [R=301,L]
    # Remove slash from URL end
    RewriteCond %{REQUEST_URI} (.*)/$
    RewriteRule . %1 [R=301,L]

    # Dash issues, etc.
    # Remove dash and ampersand before and after slash
    RewriteCond %{REQUEST_URI} (.*)(-/|/-|&/|/&)(.*)$
    RewriteRule . %1/%3 [R=301,L]
    # Remove dash and ampersand from URL end
    RewriteCond %{REQUEST_URI} (.*)(-|&)$
    RewriteRule . %1 [R=301,L]

    # Rewrite space and underscore with dash, remove repeated dashes
    RewriteCond %{REQUEST_URI} (.*)(\ |_|--)(.*)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . %1-%3 [R=301,L]

    # Remove dot, comma, equals sign and unsafe characters RFC 1738 http://www.rfc-editor.org/rfc/rfc1738.txt
    RewriteCond %{REQUEST_URI} (.+)(\.|\,|=|{|}|\||\^|~|\[|\]|`)(.*)$
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . %1%3 [R=301,L]

    # Block access to folders that begins with a period, like Subversion and Git directories
    RewriteRule (^|/)\. - [F]

    # Rewrite query string for AJAX crawling http://support.google.com/webmasters/bin/answer.py?hl=en&answer=174992
    RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
    RewriteRule .* %{REQUEST_URI}%1? [R=301,L]

    # Remove question mark and parameters
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^?#\ ]*)\?[^\ ]*\ HTTP/
    # Query rewrite exceptions
    RewriteCond %{REQUEST_FILENAME} !index.php
    RewriteCond %{REQUEST_URI}?%{QUERY_STRING} !/api(/.*)?\?callback=(\w+)$
    RewriteRule .* %{REQUEST_URI}? [R=301,L]

    # URL rewrite
    RewriteCond %{REQUEST_FILENAME} !-d [OR]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^api(?:/([^/]*))?$ index.php?api&url=$1 [QSA,L]
    RewriteRule ^([^.]*)$ index.php?url=$1 [QSA,L]

    # Get the headers If-Modified-Since and If-None-Match when apache_request_headers() is not available
    # Save bandwidth and overhead with If-Modified-Since, and help to Google Search crawler http://support.google.com/webmasters/bin/answer.py?hl=en&answer=35769#2
    RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
    RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
</IfModule>