:focus{outline:0;}
html,body{background:#000;-webkit-font-smoothing:antialiased;}
body{
    margin:0;
    padding:0;
    font:14px 'Helvetica Neue',Arial,sans-serif;
    color:#fff;
    text-align:center;
    overflow:auto;
}
header,nav,article,footer,header nav a{display:block;}
#container{
    width:760px;
    margin:20px auto;
    text-align:left;
}
a{color:#fff;}
a:focus{outline:none;}
a,#logo:hover,header a:hover,header li.selected a{text-decoration:none;}
a:hover,header nav a{text-decoration:underline;}
#logo{
    display:inline-block;
    font-size:27px;
    font-weight:bold;
    vertical-align:middle;
    text-shadow:0 0 1px #fefefe;
}
h1{font-size:21px;}
#logo,h1{margin:0 0 10px;}
#logo,footer{padding:0 0 0 4px;}
ul{padding:0;}
header nav ul{
    height:20px;
    width:100%;
}
header nav ul,#content{margin:0 0 7px;}
header nav li{margin:0 10px 0 0;}
ul li{
    float:left;
    list-style:none;
}
header nav a{padding:2px 4px;}
header nav a:hover{background:#5db0e6;}
header li.selected a,header li.selected a:hover{background:#176092;}
article{
    height:300px;
    padding:10px;
    color:#000;
    background:#fff;
    border:1px solid #f3f3f3;
    -moz-border-radius:5px;
    border-radius:5px;
}
footer nav ul{margin:4px 0 0;}
footer nav li:after{
    padding:0 4px 0 0;
    content:'>';
}
footer nav li:last-child:after{content:'';}