# How much memory do I need? http://www.omh.cc/mycnf/
# Full Unicode support http://mathiasbynens.be/notes/mysql-utf8mb4

[client]
# Applies to MySQL 5.5.3+
default-character-set   = utf8mb4

[mysql]
# Applies to MySQL 5.5.3+
default-character-set   = utf8mb4

[mysqld]
port                    = 3306
socket                  = /var/lib/mysql/mysql.sock
skip-external-locking

character-set-client-handshake = FALSE
# Applies to MySQL 5.5.3+
character-set-server    = utf8mb4
# Applies to MySQL 5.5.3+
collation-server        = utf8mb4_unicode_ci

default-storage-engine  = MyISAM
key_buffer              = 16K
max_allowed_packet      = 1M
max_connections         = 38
max_user_connections    = 38
table_cache             = 400
sort_buffer_size        = 64K
read_buffer_size        = 256K
read_rnd_buffer_size    = 256K
net_buffer_length       = 2K
thread_stack            = 512K
skip-innodb
key_buffer_size         = 95K
query_cache_type        = 1
query_cache_size        = 40M
query_cache_limit       = 2M
sort_buffer_size        = 64K
join_buffer_size        = 64K
read_buffer_size        = 256K
read_rnd_buffer_size    = 256K
myisam_sort_buffer_size = 500K