# How much memory do I need? http://www.omh.cc/mycnf/
[mysqld]
port                    = 3306
socket                  = /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer              = 16K
max_allowed_packet      = 1M
max_connections         = 38
max_user_connections    = 38
table_cache             = 400
sort_buffer_size        = 64K
read_buffer_size        = 256K
read_rnd_buffer_size    = 256K
net_buffer_length       = 2K
thread_stack            = 64K
skip-innodb
key_buffer_size         = 95K
query_cache_type        = 1
query_cache_size        = 40M
query_cache_limit       = 2M
sort_buffer_size        = 64K
join_buffer_size        = 64K
read_buffer_size        = 256K
read_rnd_buffer_size    = 256K
myisam_sort_buffer_size = 500K