# How much memory needed http://www.omh.cc/mycnf/

[mysqld]
port                    = 3306
socket                  = /var/lib/mysql/mysql.sock
skip-external-locking

# Full Unicode support MySQL 5.5.3+ http://mathiasbynens.be/notes/mysql-utf8mb4
character-set-client-handshake = FALSE
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci

skip-innodb
default-storage-engine  = MyISAM

key_buffer              = 16K
key_buffer_size         = 256K
max_allowed_packet      = 1M
max_connections         = 38
max_user_connections    = 38
thread_stack            = 512K

sort_buffer_size        = 64K
join_buffer_size        = 64K
read_buffer_size        = 256K
read_rnd_buffer_size    = 256K
net_buffer_length       = 2K
myisam_sort_buffer_size = 500K

query_cache_type        = 1
query_cache_limit       = 2M
query_cache_size        = 8M

long_query_time         = 1
slow_query_log          = 1