/* Resources
--------------------------------------------------
Google HTML/CSS Style Guide
http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml

CSS formatting
http://www.markdotto.com/2011/11/29/css-property-order/
http://www.markdotto.com/2011/12/12/css-commenting-strategy/
http://www.markdotto.com/2011/12/06/formatting-vendor-prefixed-css/

Avoid IDs
http://screwlewse.com/2010/07/dont-use-id-selectors-in-css/
http://screwlewse.com/2010/08/different-css-techniques-and-their-performance/ */

/* @viewport should be inlined in HTML to avoid scaling and native responsive images issues, http://vimeo.com/93347500 21 min */
@viewport {
    width: device-width;
    max-zoom: 1;
}

/* Stabilization
-------------------------------------------------- */
::selection {
    text-shadow: none;
    background-color: rgba(180,180,180,.5);
}
html, body {
    height: 100%;
}
html, input, select, textarea {
    color: #222;
    font-family: Cambria, Georgia, serif;
}
html, textarea {
    line-height: 1.5;
}
html, form, .button {
    /* Remove user-select for easer debugging */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.45%; /* Make 1em = 10px = 2.5rem */
    background-color: #f8f9fa;
    /* -ms-text-size-adjust property will be ignored where the viewport tag is present */
    cursor: default;
}
body, dl, dd, blockquote, figure {
    margin: 0;
}
body {
    font-size: 1.9em; /* rem unit is too buggy https://code.google.com/p/chromium/issues/detail?id=362113 and not so flexible, not standardised in @media query condition */
    overflow-wrap: break-word;
    /* CSS4 hyphenation http://generatedcontent.org/post/44751461516/finer-grained-control-of-hyphenation-with-css4-text */
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
main, input, textarea {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
main {
    display: block; /* IE10, Opera 12.16 and old WebKit legacy */
}
h1, h2, h3, dt {
    line-height: 1.07;
    font-weight: normal;
    font-family: "Times New Roman", serif; /* IE fallback "Times New Roman" */
}
h1 {
    margin-top: .1em;
    margin-bottom: .1em;
    font-size: 2.65em;
}
h2 {
    margin-top: .2em;
    margin-bottom: .2em;
    color: #777;
    font-size: 2em;
}
h3, dt {
    margin-top: .3em;
    margin-bottom: .3em;
    font-size: 1.35em;
}
h4 {
    margin-top: .4em;
    margin-bottom: .4em;
}
small {
    font-size: 70%;
}
blockquote {
    padding-left: 1.2em;
    font-style: italic;
    border-left: .3em solid #eee;
}
blockquote cite {
    color: #999;
}
blockquote cite:before {
    content: "\2014 \00A0";
    color: #999;
}
br {
    word-spacing: 0;
}
code, pre {
    padding: .1em .4em;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    white-space: pre-wrap;
    background-color: #eee;
    -moz-tab-size: 4;
         tab-size: 4;
}
a, input, select, textarea {
    outline: none;
    pointer-events: auto;
}
a img, abbr, iframe {
    border: 0;
}
a, img {
    -webkit-user-drag: none;
            user-drag: none;
}
a {
    color: #0f4cd5;
    text-decoration: none;
    touch-action: none; /* Disable double-tap-zoom http://msdn.microsoft.com/en-us/library/windows/apps/Hh767313.aspx */
    cursor: default;
}
a:hover, a:focus {
    color: #0e439b;
    text-decoration: underline;
}
img {
    /* Image scaling http://www.456bereastreet.com/lab/scaling-images-proportionally/ */
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}
abbr {
    border-bottom: 1px dotted #ccc;
}
hr {
    position: relative; /* [id]:target:before issue */
    margin: 1em -11%;
    clear: both;
    border-width: 0;
    border-top: 1px solid #eee;
}
legend {
    display: table; /* IE line-wrapping issue */
}
label {
    display: inline-block;
    padding-bottom: .2em;
    padding-top: .2em;
}
input:not([type]), [type^=date], [type=email], [type=month],
[type=number], [type=password], [type=search], [type=submit],
[type=tel], [type=text], [type=time], [type=url], [type=week],
select, textarea, .button {
    width: 20em;
    padding: .6em .7em;
    margin: .15em 0;
}
input, select, textarea, .button {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input, select, textarea {
    font-size: 1em;
}
input:hover, input:focus,
select:hover, select:focus,
textarea:hover, textarea:focus {
    border-color: #ababab;
    box-shadow: inset 1px 1px 3px #d6d6d6;
}
textarea {
    overflow: auto;
    vertical-align: top;
    word-wrap: break-word;
    resize: vertical;
}


/* Design
-------------------------------------------------- */
body, .tab {
    margin: 0 10%;
}
.button {
    overflow: hidden;
    display: inline-block;
    width: auto;
    color: inherit;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    background-image: -webkit-linear-gradient(rgba(248,249,250,0), #f8f8f8); /* Safari and Android legacy */
    background-image:         linear-gradient(rgba(248,249,250,0), #f8f8f8);
}
.button:hover, .button:focus {
    color: inherit;
    text-decoration: none;
    background-image: none;
    border-color: #ababab;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.button:active, .button.selected {
    box-shadow: inset 0 -3em 6em -3em #d6d6d6,
                inset 1px 1px .3em #d6d6d6;
}
#status {
    position: fixed;
    z-index: 999;
    left: 0;
    width: 0; /* IE transition issue */
    height: 3px;
    background-color: #29d;

    will-change: transition; /* Source http://dev.w3.org/csswg/css-will-change/ */

    /* Enable hardware accelerator */
    -webkit-transform: translateZ(0); /* Webkit legacy */
        -ms-transform: translateZ(0); /* IE9 legacy */
            transform: translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
}
#status.status-start:before {
    content: "";
    display: block;
    width: 1em;
    height: 100%;
    float: right;
    background-image: -webkit-linear-gradient(left, rgba(0,194,255,0), #00c2ff);  /* Safari and Android legacy */
    background-image:         linear-gradient(to right, rgba(0,194,255,0), #00c2ff);
    box-shadow: 2px -2px 5px 1px #00c2ff;
}
#status.status-start {
    width: 70%;
    -webkit-transition-duration: 5s; /* Safari, Android and iOS legacy */
            transition-duration: 5s;
}
#status.status-done {
    width: 100%;
    opacity: 0;
    /*background-color: rgba(34,153,221,0);*/
    -webkit-transition-duration: .2s; /* Safari, Android and iOS legacy */
            transition-duration: .2s;
}
.tab {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1.2;
    font-family: "Open Sans", Meiryo, "Segoe UI", sans-serif;
    text-align: center;
    white-space: nowrap;
}
.tab a, .footer a {
    color: inherit;
    text-decoration: none;
}
.bar {
    display: none;
}
.header, .main, .footer {
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
}
.header, .main {
    background-color: #fff;
    border: 0 solid #d9e0e2;
    border-width: 0 1px;
}
.header {
    position: relative;
    width: 100%;
    padding: .1em .4em;
}
.header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1.5em;
    background-image: -webkit-linear-gradient(#fff, rgba(255,255,255,.9) 35%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0)); /* Safari and Android legacy */
    background-image:         linear-gradient(#fff, rgba(255,255,255,.9) 35%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0));
    pointer-events: none;
}
.nav {
    display: inline-block;
    display: -webkit-box; /* Android 2.3 legacy */
    display: flex;
    margin: .1em auto;
    line-height: 2.1;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(#f8f8f8, rgba(248,249,250,0)); /* Safari and Android legacy */
    background-image:         linear-gradient(#f8f8f8, rgba(248,249,250,0));
    border: 1px solid #d9e0e2;
    border-bottom-color: #ccc;
    border-radius: .2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.1),
                inset 0 0 0 1px rgba(255,255,255,.5);
    box-sizing: border-box;
}
.nav a {
    overflow: hidden;
    display: block;
    position: relative; /* Old Webkit visibility issue */
    -webkit-box-flex: 1; /* Android 2.3 legacy */
    -ms-flex: 1;
        flex: 1;
    flex-basis: auto;
    min-width: 0; /* Implied Minimum Size of Flex Items http://dev.w3.org/csswg/css3-flexbox/#min-size-auto */
    max-height: 2.2em; /* Old Webkit legacy */
    padding: 0 .4em; /* Firefox flexbox padding percentage issue https://bugzilla.mozilla.org/show_bug.cgi?id=529761 */
    text-overflow: ellipsis;
    border: 0 solid #d9e0e2;
    border-left-width: 1px;
}
.nav a:first-child {
    padding-left: .5em;
    border-left: none;
    border-radius: .2em 0 0 .2em;
}
.nav a:last-child {
    border-radius: 0 .2em .2em 0;
}
.nav a:hover, .nav a:focus {
    background-color: #fff;
}
.nav a.focus {
    background-color: #ebebeb;
}
.nav a.error {
    background-color: #f1e2e2;
}
.nav a.active {
    position: relative;
    z-index: 1;
    margin: -1px auto;
    color: #fff;
    line-height: 2.2;
    background-color: #006cff;
    border-color: transparent;
}
.nav .active + a {
    border-color: transparent;
}
.main, .footer {
    position: relative;
    padding: 0 5%;
}
.main {
    overflow: hidden;
    min-height: 100%;
    padding-top: 3.8em;
    padding-bottom: 4.1em;
    will-change: contents;
}
.main :target {
    background-color: #ffff00;
}
.main a:target {
    text-decoration: none;
}
.main a:target:hover {
    text-decoration: underline;
}
.main [id]:target:before {
    content: "";
    display: block; /* Bug with anchor element and hover state */
    padding-top: 3.5em;
    margin-top: -3.5em;
    pointer-events: none;
    background-color: #fff;
}
.main h1[id]:target:before {
    padding-top: 1.3em;
    margin-top: -1.3em;
}
.footer {
    overflow: hidden;
    height: 2.7em; /* IE11 issue */
    margin-top: -2.7em;
    line-height: 2.7;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #eee;
}
.footer a {
    display: inline-block;
    color: #777;
}
.footer a + a {
    margin-left: .6em;
}
.footer a:hover, .footer a:focus {
    color: #222;
    text-decoration: underline;
}



/* Cross-browser compatibility
-------------------------------------------------- */
[hidden], template { /* Unsupported attribute http://dev.w3.org/html5/spec/single-page.html#the-hidden-attribute */
    display: none;
}
/* IE @media hacks http://blog.keithclark.co.uk/moving-ie-specific-css-into-media-blocks/ */
@media \0screen\,screen\9 { /* IE6-8 */
    input, select, textarea {
        vertical-align: middle;
    }
    .tab:before {
        background-color: #f7f7f7;
    }
    .header {
        overflow: hidden;
    }
    .nav {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .nav a {
        display: table-cell;
    }
}
@media (min-width:0\0) { /* IE9-10 http://www.impressivewebs.com/ie10-css-hacks/ */
    a {
        background-color: inherit; /* Remove IE10 :active gray background-color */
    }
    .tab:before {
        background-color: #f7f7f7;
    }
    .header {
        overflow: hidden;
    }
    .nav {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .nav a {
        display: table-cell;
    }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
    :-ms-input-placeholder {
        color: #ccc;
    }
    .tab:before {
        background-color: rgba(247,247,247,0);
    }
    .header {
        overflow: visible;
    }
    .nav {
        display: -ms-flexbox;
        display: flex;
    }
    .nav a {
        display: block;
    }
    @media (max-width: 540px) {
        .tab {
            text-align: left;
        }
        .header, .footer {
            text-align: left;
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 0) { /* Webkit */
    /* Android/iOS WebView issues
    --------------------------------------------------
    all - slow click/hover state on any element except <a>
    2.3 - @keyframes flicker http://georgehess.com/post/2054803814/css-keyframe-animation-flicker
    2.3 - unknown appearance of visibility:hidden on new DOM elements on scroll while using -webkit-transform:translate3d(0,0,0), -webkit-backface-visibility:hidden or -webkit-perspective:1000 */
    html, textarea {
        -webkit-overflow-scrolling: touch; /* iOS 7 legacy http://barrow.io/overflow-scrolling */
    }
    html {
        -webkit-font-smoothing: antialiased; /* Old Webkit smooth text rendering issue */
        -webkit-text-size-adjust: 100%;
        /*-webkit-transform: translateZ(0);*/
        /*-webkit-backface-visibility: hidden;*/
        -webkit-perspective: 1000; /* Android repaint issue on screen orientation change */
    }
    /* Android 2.3 repaint WebView bug hack */
    /*html {
        -webkit-animation: bugfix infinite 1s;
    }
    @-webkit-keyframes bugfix {
        from { padding: 0; }
        to { padding: 0; }
    }*/
    a, input, select, textarea {
        /* <select> shadow DOM issue https://code.google.com/p/chromium/issues/detail?id=234871 */
        /* Remove outline and highlight-color from click-able elements on Android and iOS */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    a {
        -webkit-touch-callout: none; /* iOS remove bubble dialog on tap-holding */
    }
    textarea::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(250,250,250,0);
    }
    textarea::-webkit-scrollbar-thumb {
        background-color: #8e8f91;
    }
    textarea::-webkit-scrollbar-thumb:hover {
        background-color: #777;
    }
    ::-webkit-input-placeholder {
        color: #ccc;
    }
}
@-moz-document url-prefix() { /* Firefox */
    ::-moz-selection {
        text-shadow: none;
        background-color: rgba(180,180,180,.5);
    }
    label:active {
        background-color: transparent;
    }
    input, select, textarea {
        background-image: none;
        border-radius: 0;
    }
    ::-moz-placeholder {
        color: #ccc;
    }
}



/* Device adaptation http://dev.w3.org/csswg/css-device-adapt/
-------------------------------------------------- */
@media (max-width: 1280px) {
    body, .tab {
        margin: 0 3%;
        -webkit-transition: margin .21s; /* Safari, Android and iOS legacy */
                transition: margin .21s;
    }
    #status:not(.expand) ~ .tab {
        -webkit-transition-duration: 0; /* Safari, Android and iOS legacy */
                transition-duration: 0;
    }
}
@media (max-width: 540px) {
    html {
        background-color: #fff;
    }
    .main [id]:before {
        padding-top: 1.8em;
        margin-top: -1.8em;
    }
    #status:not(.expand) ~ .tab,
    #status:not(.expand) ~ .tab .header,
    #status:not(.expand) ~ .footer {
        -webkit-transition-duration: 0; /* Safari, Android and iOS legacy */
                transition-duration: 0;
    }
    .tab {
        margin: 0;
        text-align: left;
        text-align: start;
        background-image: -webkit-linear-gradient(#fff, rgba(255,255,255,.9) 35%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0)); /* Safari and Android legacy */
        background-image:         linear-gradient(#fff, rgba(255,255,255,.9) 35%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0));
        -webkit-transition-duration: 0; /* Safari, Android and iOS legacy */
                transition-duration: 0;
    }
    .bar {
        display: inline-block;
        position: relative;
        z-index: 1;
        pointer-events: auto;

        /* reset button user-agent styles */
        padding: 0;
        margin: 0;
        font-size: 1em;
        background: none;
        border: 0;
        outline: 0;
    }
    .bar span {
        position: relative;
        margin: 1.07em .65em 1.07em .45em;
        will-change: transition, transform;
    }
    .bar span,
    .bar span:before,
    .bar span:after {
        display: block;
        width: 1.3em;
        height: .21em;
        background-color: #222;
        border-radius: .1em;
        -webkit-transition: .2s; /* Safari, Android and iOS legacy */
                transition: .2s;
    }
    .bar span:before,
    .bar span:after {
        content: "";
        position: absolute;
    }
    .bar span:before {
        -webkit-transform: translateY(-.42em); /* Webkit legacy */
            -ms-transform: translateY(-.42em); /* IE9 legacy */
                transform: translateY(-.42em);
    }
    .bar span:after {
        -webkit-transform: translateY(.42em); /* Webkit legacy */
            -ms-transform: translateY(.42em); /* IE9 legacy */
                transform: translateY(.42em);
    }
    .bar:hover {
        background-color: rgba(0,0,0,.06);
    }
    .expand ~ .tab .bar span {
        background-color: transparent;
    }
    .expand ~ .tab .bar span:before {
        -webkit-transform: rotate(45deg); /* Webkit legacy */
        -webkit-transform: rotate3d(0,0,1,45deg); /* Chrome rotation offset fix */
            -ms-transform: rotate(45deg); /* IE9 legacy */
                transform: rotate3d(0,0,1,45deg); /* Chrome rotation offset fix */
    }
    .expand ~ .tab .bar span:after {
        -webkit-transform: rotate(-45deg); /* Webkit legacy */
        -webkit-transform: rotate3d(0,0,1,-45deg); /* Chrome rotation offset fix */
            -ms-transform: rotate(-45deg); /* IE9 legacy */
                transform: rotate3d(0,0,1,-45deg); /* Chrome rotation offset fix */
    }
    label, input:not([type]), [type^=date], [type=email], [type=month],
    [type=number], [type=password], [type=tel], [type=text], [type=time],
    [type=url], [type=week], [type=submit], select, textarea,
    input.button {
        width: 100%;
    }
    .tab, .main {
        background-color: transparent;
        -webkit-transition: 0; /* Safari, Android and iOS legacy */
                transition: 0;
    }
    .header, .main, .footer {
        min-width: 13.6em;
    }
    .header, .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 75%;
        padding: 0;
        -webkit-transform: translateX(-100%); /* Webkit legacy */
            -ms-transform: translateX(-100%); /* IE9 legacy */
                transform: translateX(-100%);
        -webkit-transition: -webkit-transform .16s cubic-bezier(.5,.31,.85,.55); /* Safari, Android and iOS legacy */
                transition:         transform .16s cubic-bezier(.5,.31,.85,.55); /* Source http://cubic-bezier.com/#.5,.31,.85,.55 */
    }
    .header {
        top: 0;
        padding-bottom: 6.3em;
        background-color: #f8f9fa;
        border: 0;
    }
    .header:after {
        display: none;
    }
    .nav, .footer {
        overflow: auto;
        border: 0;
        -webkit-overflow-scrolling: touch; /* iOS 7 legacy */
    }
    .footer {
        overflow: visible;
        z-index: 100;
        height: auto;
        line-height: 2.1;
        background-color: #f8f9fa;
    }
    .footer:before {
        content: "";
        position: absolute;
        top: -1.5em;
        left: 0;
        right: 0;
        height: 1.5em;
        background-image: -webkit-linear-gradient(rgba(248,249,250,0), rgba(248,249,250,.9) 50%, rgba(248,249,250,.8) 60%, #f8f9fa); /* Safari and Android legacy */
        background-image:         linear-gradient(rgba(248,249,250,0), rgba(248,249,250,.9) 50%, rgba(248,249,250,.8) 60%, #f8f9fa);
        pointer-events: none;
    }
    .nav, .nav a:first-child, .nav a:last-child {
        border-radius: 0;
    }
    .nav {
        display: block;
        height: 100%;
        padding-top: 2.35em;
        margin: 0;
        background: none;
        box-shadow: none;
    }
    .nav a, .footer a {
        display: block;
        padding: 0 1.3em;
        float: none; /* IE legacy issue */
        border-color: #eee;
    }
    .nav a {
        -webkit-box-flex: 0; /* Android 2.3 legacy */
        -webkit-flex: 0;
            -ms-flex: 0;
                flex: 0;
        border-width: 0;
        border-top-width: 1px;
    }
    .nav a:first-child {
        padding-left: 1.3em;
    }
    .nav a:first-child, .footer a:first-child {
        border-top-width: 0;
    }
    .footer a + a {
        margin-left: 0;
    }
    .main {
        overflow: visible;
        padding-top: 2em;
        padding-bottom: 1em;
        padding-right: 1em;
        padding-left: 1em;
        border-width: 0;
        -webkit-transition: -webkit-transform .16s; /* Safari, Android and iOS legacy */
                transition:         transform .16s;
    }
    .footer a {
        overflow: hidden;
        color: inherit;
        text-overflow: ellipsis;
        border-top-width: 1px;
        border-top-style: solid;
    }
    .footer a:hover, .footer a:focus {
        color: #222;
        text-decoration: none;
        background-color: #fff;
    }
    .expand ~ .tab .header,
    .expand ~ .footer {
        visibility: visible;
        -webkit-transform: translateX(0); /* Webkit legacy */
            -ms-transform: translateX(0); /* IE9 legacy */
                transform: translateX(0);
    }
    .expand ~ .tab .header {
        box-shadow: 0 0 4em rgba(0,0,0,.3);
    }
    .tab,
    .expand ~ .main {
        pointer-events: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
}
@media (max-width: 320px) {
    html {
        font-size: 58%;
        -webkit-transition: font-size .2s; /* Safari, Android and iOS legacy */
                transition: font-size .2s;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3, dt {
        font-size: 1.3em;
    }
}
@media print {
    @page {
        margin: .5cm;
    }
    *, h2, h3 {
        color: #222;
        text-shadow: none;
        background: transparent;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    a {
        color: #777;
        text-decoration: underline;
    }
    img {
        page-break-inside: avoid;
    }
    html, .main {
        background: inherit;
    }
    .tab, .footer {
        display: none;
    }
    .main {
        padding-top: 1em;
        padding-bottom: 1em;
        border-width: 0;
    }
    .button {
        text-decoration: none;
        background-image: none;
        border-color: #777;
    }
}