/* Resources
--------------------------------------------------
Google HTML/CSS Style Guide
http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml

CSS formatting
http://www.markdotto.com/2011/11/29/css-property-order/
http://www.markdotto.com/2011/12/12/css-commenting-strategy/
http://www.markdotto.com/2011/12/06/formatting-vendor-prefixed-css/

Avoid IDs
http://screwlewse.com/2010/07/dont-use-id-selectors-in-css/
http://screwlewse.com/2010/08/different-css-techniques-and-their-performance/ */

/* Stabilization
-------------------------------------------------- */
::selection {
    color: #fff;
    text-shadow: none;
    background-color: #8f8f8f;
}
html, body {
    height: 100%;
}
html, input, select, textarea {
    color: #222;
    line-height: 1.5;
    font-family: Cambria, Georgia, serif;
    word-spacing: .1em;
}
html, form, .button {
    /* Remove user-select for easer developing processes */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    font-size: 62.45%; /* Make 1em = 10px = 2.5rem */
    background-color: #fff;

    /* Old Safari smooth text rendering issue */
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;

    cursor: default;
}
body, h3, h4, p, ul, ol, dl, dd, blockquote, figure, input, select, textarea {
    margin: auto;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.8em; /* The optional font-size REM http://snook.ca/archives/html_and_css/font-size-with-rem, buggy on various browsers */
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
main {
    display: block; /* Browser compatibility */
}
h1, h2, h3 {
    margin-top: .2em;
    margin-bottom: .2em;
    font-weight: normal;
    font-family: "Times New Roman", serif; /* IE fallback "Times New Roman" */
    line-height: 1.2;
}
h1 {
    font-size: 2.1em;
}
h2 {
    color: #777;
    font-size: 1.65em;
}
h3 {
    color: #bbb;
    font-size: 1.35em;
}
p {
    padding-top: .8em;
    padding-bottom: .8em;
}
code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    white-space: pre-wrap;
}
ul, ol {
    padding: 0;
    list-style: none inside;
}
a img, abbr, iframe {
    border: 0;
}
a, input, textarea {
    outline: none;
    pointer-events: auto;
}
a, img {
    -webkit-user-drag: none;
            user-drag: none;
}
a {
    color: #2d76b9;
    text-decoration: none;
    cursor: default;
}
a:hover, a:focus {
    color: #2f6291;
    text-decoration: underline;
}
a:active {
    /* Avoid IE10 gray background-color */
    background-color: inherit;
}
img {
    /* Image scaling http://www.456bereastreet.com/lab/scaling-images-proportionally/ */
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}
hr {
    margin-top: 1em;
    margin-bottom: 1em;
    clear: both;
    border-width: 0;
    border-top: 1px solid #eee;
}
legend {
    /* IE line-wrapping issue */
    display: table;
}
label {
    display: inline-block;
}
input, select, textarea {
    margin-top: .4em;
    margin-bottom: .4em;
    font-size: 1em;
    vertical-align: bottom;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
input, textarea, main {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
input:not([type]), [type^=date], [type=email], [type=month], 
[type=number], [type=password], [type=tel], [type=text], [type=time], 
[type=url], [type=week], [type=submit], select, textarea {
    width: 20em;
    padding: .6em .7em;
}
input:hover, input:focus, select:hover, select:focus, textarea:hover, textarea:focus  {
    border-color: #ababab;
    box-shadow: inset 1px 1px 3px #d6d6d6, 1px 1px 0 #fff;
}
:-ms-input-placeholder {
    color: #ddd;
}
textarea {
    overflow: auto;
    min-height: 7.5em;
    word-wrap: break-word;
    vertical-align: top;
    resize: vertical;
}


/* Cross-browser compatibility
-------------------------------------------------- */
@media \0screen\,screen\9 { /* IE6-8 */
    /* Remove IE7 black border on converting any black color to transparent.
       Be sure that input[type=submit] has not specified #000000 for any property.
       Unfortunately it is casing remove properties filter:progid:DXImageTransform.Microsoft.gradient(), box-shadow.
    input[type=submit], input[type=submit]:hover {
        *filter: chroma(color=#000000);
    } */
    html {
        *overflow: auto;
    }
    ul, ol {
        *list-style-position: outside;
    }
    hr {
        *display: block;
        *height: auto;
    }
    form {
        *margin: auto;
    }
    input, select, textarea {
        *vertical-align: middle;
        width: 20em;
        padding: .6em .7em;
    }
    input {
        *overflow: visible;
    }
    .clearfix {
        *zoom: 1;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) { /* Webkit */
    /* Android version issues
    --------------------------------------------------
    all - slow click/hover state on any element except <a>
    all - flicker issue http://georgehess.com/post/2054803814/css-keyframe-animation-flicker
    2.3 - screen flash on scroll issue http://georgehess.com/post/2054803814/css-keyframe-animation-flicker
    2.3 - overflow issue on <a> elements
    2.3 - not supported flexbox updated syntax - use old and new syntax to support on all devices http://dev.w3.org/csswg/css3-flexbox/ http://css-tricks.com/old-flexbox-and-new-flexbox/
    2.3 - unknown appearance of visibility: hidden on new DOM elements on scroll when using -webkit-transform:translate3d(0,0,0), -webkit-backface-visibility:hidden or -webkit-perspective:1000 */
    /* Activate the GPU acceleration to prevent Chrome rendering bug with window overflow and border-radius */
    /* body {
        -webkit-transform: translate3d(0,0,0);
    } */
    a, input, select, textarea {
        /* <select> shadow DOM issue https://code.google.com/p/chromium/issues/detail?id=234871 */
        /* Remove outline and highlight-color from click-able elements on Android and iOS */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    a {
        /* iOS remove bubble dialog on tap-holding */
        -webkit-touch-callout: none;
    }
    [type=search],
    input::-webkit-clear-button,
    input::-webkit-inner-spin-button,
    input::-webkit-file-upload-button,
    input::-webkit-search-cancel-button {
        -webkit-appearance: none; /* Firefox issue https://bugzilla.mozilla.org/show_bug.cgi?id=605985 */
    }
    input::-webkit-inner-spin-button {
        height: inherit;
    }
    input::-webkit-file-upload-button {
        margin: auto;
        font: inherit;
        border: 0;
    }
    textarea::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(250,250,250,0);
    }
    textarea::-webkit-scrollbar-thumb {
        background-color: #8e8f91;
    }
    textarea::-webkit-scrollbar-thumb:hover {
        background-color: #666;
    }
    ::-webkit-input-placeholder {
        color: #ddd;
    }
}
@media (min-resolution: .001dpcm) { /* Opera till version 15 */
    /* contenteditable attribute issue */
    .clearfix:after {
        content: ' ';
    }
}
@-moz-document url-prefix() { /* Firefox */
    ::-moz-selection {
        color: #fff;
        text-shadow: none;
        background-color: #8f8f8f;
    }
    html {
        /* Firefox FF4+ slow rendering repeating-linear-gradient with background-size https://bugzilla.mozilla.org/show_bug.cgi?id=644444 */
        background-size: auto auto;
    }
    input {
        /* Bug https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
        -moz-appearance: none;
    }
    input::-moz-focus-inner {
        /* Firefox input height issue http://davidwalsh.name/firefox-buttons,
           line-height issue https://bugzilla.mozilla.org/show_bug.cgi?id=697451 */
        padding: 0;
        border: 0;
    }
    :-moz-placeholder {
        color: #ddd;
    }
}


/* Common rules
-------------------------------------------------- */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.transition:before, .transition {
    -webkit-transition-duration: .14s; /* Safari, iOS and Android fallback */
            transition-duration: .14s;
}
.transition:hover:before, .transition:hover {
    -webkit-transition-duration: .1s; /* Safari, iOS and Android fallback */
            transition-duration: .1s;
}
.ui-center {
    overflow: hidden;
    width: 90%;
    min-width: 19em;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-right: auto;
    margin-left: auto;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.absolute {
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.button {
    display: inline-block;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 -3em 6em -3em #ececec, 1px 1px 0 #fff;
}
.button:hover, .button:focus {
    border-color: #ababab;
    box-shadow: inset 0 0 0 1px #fff, inset 0 -3em 6em -3em #ececec, 1px 1px .3em #d6d6d6;
}
.button:active, .button.selected {
    box-shadow: inset 0 -3em 6em -3em #d6d6d6, inset 1px 1px .3em #d6d6d6, 1px 1px 0 #fff;
}

/* Motions */
@-webkit-keyframes slide-down { /* Webkit legacy outdated syntax for mobile devices */
    0% {
        -webkit-transform: translateY(-5em);
    }
    10% {
        -webkit-transform: translateY(0);
    }
    90% {
        -webkit-transform: translateY(0);
    }
    /* Android 2.3 flicker issue, final frame less than 100% http://georgehess.com/post/2054803814/css-keyframe-animation-flicker */
    99.99% {
        -webkit-transform: translateY(-5em);
    }
    /* Do not remove, otherwise will not work on Android 2.3 */
    100% {}
}
@keyframes slide-down {
    0%, 100% {
        transform: translateY(-5em);
    }
    10%, 90% {
        transform: translateY(0);
    }
}


/* Design
-------------------------------------------------- */
.container {
    min-height: 100%;
}
.logo {
    display: table-row;
    color: inherit;
    font-size: 1.8em;
    font-family: serif;
    text-decoration: none;
    white-space: nowrap;
}
.logo:hover, .logo:focus {
    color: #333;
    text-decoration: none;
}

/* Navigation */
.list {
    display: inline-block;
    position: relative;
    display: -webkit-box; /* Android 2.3 Flexbox fallback */
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    margin-top: .2em;
    margin-bottom: .2em;
    line-height: 2.1;
    font-family: "Open Sans", Meiryo, "Segoe UI", sans-serif;
    white-space: nowrap;
    background-color: #f1f1f1;
    background-image: -webkit-linear-gradient(#f8f8f8, rgba(248,248,248,0)); /* Safari, iOS and Android fallback */
    background-image:         linear-gradient(#f8f8f8, rgba(248,248,248,0));
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-color: #ddd #ddd #ccc;
    border-radius: .2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 0 0 1px rgba(255,255,255,.5);
}
.item {
    overflow: hidden;
    position: relative; /* Old Webkit visibility issue */
    display: block;
    -webkit-box-flex: 1; /* Android 2.3 Flexbox fallback */
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 0; /* Implied Minimum Size of Flex Items http://dev.w3.org/csswg/css3-flexbox/#min-size-auto */

    /* Firefox flexbox padding percentage issue https://bugzilla.mozilla.org/show_bug.cgi?id=529761 */
    padding-right: .4em;
    padding-left: .4em;

    float: left;
    color: inherit;
    text-align: center;
    text-overflow: ellipsis;
    border-right: 1px solid #ddd;
    -webkit-transition-property: background-color, background-image;
            transition-property: background-color, background-image;
}
.item:first-child {
    border-left: 1px solid #e9e9e9;
    border-radius: .2em 0 0 .2em;
}
.item:last-child {
    border-right-color: transparent;
    border-radius: 0 .2em .2em 0;
}
.item, .item:hover, .item:focus {
    color: inherit;
    text-decoration: none;
}
.item:hover, .item:focus {
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(#fbfbfb, rgba(251, 251, 251, 0)); /* Safari, iOS and Android fallback */
    background-image:         linear-gradient(#fbfbfb, rgba(251, 251, 251, 0));
}
.item.selected {
    z-index: 1;
    margin-top: -1px;
    margin-bottom: -1px;
    color: #fff;
    line-height: 2.2;
    background-color: #2d76b9;
    background-image: none;
    border-color: transparent;
    cursor: default;
}
.item.selected:last-child {
    margin-right: -1px;
}
.main {
    padding-top: 1em;
    padding-bottom: 4.5em;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.note {
    overflow: hidden;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    line-height: 2.5;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
    background-color: #ffe65c;
    background-image: -webkit-linear-gradient(#ffe998, #ffe65c); /* Safari, iOS and Android fallback */
    background-image:         linear-gradient(#ffe998, #ffe65c);
    box-shadow: 0 0 .4em rgba(0,0,0,.5);
    -webkit-transform: translateY(-5em);
            transform: translateY(-5em);
    -webkit-animation: slide-down 7s ease-out .1s 1;
            animation: slide-down 6s linear .5s 1;
}
.footer {
    position: relative;
    height: 3em;
    margin-top: -3em;
    line-height: 3;
}
.breadcrumb {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #eee;
}
.breadcrumb a {
    padding-right: .2em;
    padding-left: .2em;
}


/* Handlers
-------------------------------------------------- */
[hidden] { /* Unsupported attribute http://dev.w3.org/html5/spec/single-page.html#the-hidden-attribute */
    display: none;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}
.touchstart {
    opacity: .55;
}
.disabled, .disabled a {
    pointer-events: none;
}
.disabled {
    opacity: .3;
}


/* Device optimization
-------------------------------------------------- */
/* CSS Device Adaptation http://dev.w3.org/csswg/css-device-adapt/ */
@viewport {
    width: device-width;
    user-zoom: fixed;
}
/* HiDPI @2x double-resolution */
/* @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { } */
/* @media (orientation: portrait) { } */
/* @media (orientation: landscape) { } */
@media (-webkit-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    html {
        font-size: 62.5%;
    }
}
@media (max-width: 532px) {
    html {
        -webkit-text-size-adjust: 100%;
        /* –ms-text-size-adjust property will be ignored where the viewport tag is present */
        /*     -ms-text-size-adjust: 100%; */
    }
    input:not([type]), [type^=date], [type=email], [type=month], 
    [type=number], [type=password], [type=tel], [type=text], [type=time], 
    [type=url], [type=week], [type=submit], select, textarea {
        width: 100%;
    }
    .list {
        display: block;
        width: 100%;
        height: auto;
        border-left: 1px solid #ddd;
    }
    .item {
        display: block;
        padding-right: 1.3em;
        padding-left: 1.3em;
        float: none;
        text-align: left; /* IE fallback */
        text-align: start;
        border-top: 1px solid #ddd;
        border-right: 0;
    }
    .item:first-child {
        border: 0;
        border-radius: .2em .2em 0 0;
    }
    .item:last-child {
        border-radius: 0 0 .2em .2em;
    }
    .item.selected {
        margin-right: -1px;
        margin-left: -1px;
        position: relative;
    }
}
@media (max-width: 320px) {
    html {
        font-size: 50.5%;
    }
}
@media print {
    *, h2 {
        color: #000;
        text-shadow: none;
        background: transparent;
    }
    a, a:visited {
        color: #444;
        text-decoration: underline;
    }
    [href]:after, abbr[title]:after {
        color: #999;
    }
    [href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    img {
        page-break-inside: avoid;
    }
    @page {
        margin: .5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    header, footer {
        display: none;
    }
    html, body {
        background: inherit;
    }
}