/* References
--------------------------------------------------
Google HTML/CSS Style Guide
http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml

CSS formatting
http://www.markdotto.com/2011/11/29/css-property-order/
http://www.markdotto.com/2011/12/12/css-commenting-strategy/
http://www.markdotto.com/2011/12/06/formatting-vendor-prefixed-css/

Avoid IDs
http://screwlewse.com/2010/07/dont-use-id-selectors-in-css/
http://screwlewse.com/2010/08/different-css-techniques-and-their-performance/

Selector priorities https://css-tricks.com/specifics-on-css-specificity/
Reset form elements http://jsfiddle.net/LHcR8/3/
currentColor http://blogs.adobe.com/dreamweaver/2015/02/extending-the-color-cascade-with-the-css-currentcolor-variable.html

Syntax order:
    content
    overflow
    position
    display
    flex
    min-width
    max-width
        width
    height
    padding
    margin
    color
    font
    text-decoration
    text-align
    vertical-align
    white-space
    word-wrap
    background: color position size repeat origin clip attachment image;
    background-color
    background-image
    box-sizing
    border
    box-shadow
    will-change
    backface-visibility
    transition
    pointer-events
    cursor

Hex colors faster then rgba https://jsperf.com/css-color-names-vs-hex-codes/18
*/

/* @viewport should be inlined in HTML to avoid scaling and native responsive images issues, http://vimeo.com/93347500 21 min */
@viewport {
    width: device-width;
    /* zoom: 1; */ /* Fails scaling on Android */
}

/* Stabilization
-------------------------------------------------- */
html,
body {
    height: 100%;
}
html,
label,
button,
.button {
    /* Remove user-select for easer debugging */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    /* scroll-behavior: smooth; */ /* ISSUE: causes very slow scroll on FFOS 2.6 */ /* Spec http://dev.w3.org/csswg/cssom-view/#propdef-scroll-behavior */
    color: #333;
    /* font-size 62.45% = 1em = 10px = 2.5rem */
    font: 62.45% / 1.65 Cambria, Georgia, serif;
    text-rendering: optimizeSpeed;
    /* -ms-text-size-adjust property will be ignored where the viewport tag is present */
    background-color: #f2f2f2;
    /* Smoother scroll, faster clicks http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away */
    touch-action: manipulation;
    cursor: default;
}
body,
dl,
dd,
figure {
    margin: 0;
}
body {
    font-size: 1.9em; /* rem unit is too buggy https://code.google.com/p/chromium/issues/detail?id=362113 and not so flexible, not standardised in @media query condition */
    overflow-wrap: break-word;
    word-wrap: break-word; /* IE11 legacy */
    /* CSS4 hyphenation http://dev.w3.org/csswg/css-text-4/ http://generatedcontent.org/post/44751461516/finer-grained-control-of-hyphenation-with-css4-text
       Chrome issue https://code.google.com/p/chromium/issues/detail?id=47083 */
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
main {
    display: block; /* IE10, Opera 12.16 and old Webkit legacy */
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
h1,
h2,
h3,
dt {
    line-height: 1.07;
    font-weight: normal;
    /* IE fallback "Times New Roman", Unquote font-family http://mothereff.in/font-family */
    font-family: Times New Roman, serif;
}
h1,
h2 {
    margin-top: .2em;
    margin-bottom: .2em;
}
h1:first-line,
h2:first-line {
    font-size: 150%;
}
h1 {
    font-size: 1.9em;
}
h2,
h3,
dt {
    font-size: 1.45em;
}
h3 {
    margin-top: .3em;
    margin-bottom: .3em;
}
h4 {
    margin-top: .4em;
    margin-bottom: .4em;
}
p,
pre,
cite {
    margin-top: .8em;
    margin-bottom: .8em;
}
p + p {
    margin-top: 1em;
}
small {
    font-size: 70%;
}
blockquote {
    margin: 1.3em -3em 1.2em;
    margin-right: -4.9vw;
    margin-left: -4.9vw;
    padding: 0 3em;
    padding-right: 4.9vw;
    padding-left: 4.9vw;
    background-color: #f2f2f2; /* Firefox doesn't overflow background inside "columns" */
}
blockquote:before,
blockquote:after {
    content: "";
    display: table;
}
blockquote > *:not(div):not(span):not(code):first-child {
    padding-top: .4em;
}
blockquote > *:not(div):not(span):not(code):last-child {
    padding-bottom: .52em;
}
blockquote code,
blockquote pre {
    background-color: #eee;
}
cite {
    display: block;
    color: #666;
}
cite:before {
    content: "\2014\00A0";
    color: #999;
}
br {
    word-spacing: 0;
}
hr {
    position: relative; /* :target:before issue */
    margin: 1em -3em;
    margin-right: -4.9vw;
    margin-left: -4.9vw;
    clear: both;
    border: 0;
    border-top: 1px solid #ddd;
}
code,
pre {
    font: 80%/1.45 Consolas, Liberation Mono, Courier, monospace;
    white-space: pre-wrap;
    background-color: #f6f6f6;
    -moz-tab-size: 4;
         tab-size: 4;
}
code {
    display: inline-block;
    padding: 0 .4em .1em;
}
pre {
    padding: .75em 1.05em;
}
a,
input,
select,
textarea,
button {
    font-family: inherit;
    outline: none;
    pointer-events: auto;
}
a img,
abbr,
iframe {
    border: 0;
}
a,
img {
    -webkit-user-drag: none;
            user-drag: none;
}
a[href] {
    color: #00d;
    text-decoration: none;
    /* touch-action: none; */ /* Chrome Android avoids scroll on touch
                                 Disable double-tap-zoom http://msdn.microsoft.com/en-us/library/windows/apps/Hh767313.aspx */
    -webkit-box-decoration-break: clone; /* Chrome legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
}
a[href]:hover,
a[href]:focus {
    color: #02a;
    text-decoration: underline;
}
a[href][target=_blank] {
    text-decoration: none;
    border-bottom: 1px dotted;
}
img {
    /* Image scaling http://www.456bereastreet.com/lab/scaling-images-proportionally/ */
    max-width: 100%;
        width: auto;
    height: auto;
    vertical-align: top;
    object-fit: contain;

    /* Image scale rendering https://drafts.csswg.org/css-images/#the-image-rendering */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
    image-rendering: -webkit-optimize-contrast; /* Webkit legacy https://code.google.com/p/chromium/issues/detail?id=134040 */
    image-rendering: -moz-crisp-edges; /* Firefox legacy */
    image-rendering:      crisp-edges;
    image-rendering: pixelated; /* Eaquals non standard "optimizeSpeed" */
}
abbr {
    border-bottom: 1px dotted #aaa;
}
legend {
    /* IE line-wrapping issue */
    display: table;
}
label {
    display: inline-block;
    padding-top: .2em;
    padding-bottom: .2em;
    color: #666;
    line-height: 1.2;
    vertical-align: middle;
}
::selection {
    color: initial;
    text-shadow: none;
    /* Inspired from https://via.hypothes.is/https://www.instapaper.com/ */
    background-color: rgba(255,255,60,.3);

    /* // https://bugzilla.mozilla.org/show_bug.cgi?id=509958#c9
    text-shadow: none;
    color: highlighttext;
    background-color: highlight;*/
}
/*:placeholder-shown {
    // W3C http://dev.w3.org/csswg/selectors4/#placeholder
    // Firefox https://bugzilla.mozilla.org/show_bug.cgi?id=1069012
    // Chrome 47 approach released with bugs https://code.google.com/p/chromium/issues/detail?id=451120
    // Webkit https://bugs.webkit.org/show_bug.cgi?id=118162
    // Apply Firefox approach http://jsbin.com/fesunu/1/quiet
    // resource://gre-resources/forms.css
    // https://bugzilla.mozilla.org/show_bug.cgi?id=556145
    opacity: .54;
    color: inherit;
}*/
input,
select,
textarea,
button,
.button {
    max-width: 100%;
    padding: .6em .75em;
    margin: .15em 0;
    font-size: 1em;
    line-height: 1.25;
    box-sizing: border-box;
}
input,
select,
button {
    vertical-align: middle;
}
input,
select,
textarea {
    width: 20em;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    box-shadow: 1px 1px 0 rgba(0,0,0,.14);
}
[type=checkbox],
[type=radio],
[type=image],
[type=file],
[type=color] {
    /* Reset */
    width: auto;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}
textarea {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 4.95em;
    max-height: 13em;
    vertical-align: top;
    word-wrap: break-word;
    resize: none;
}
[required]:valid {
    border-color: #aaa;
}
input:focus,
textarea:focus,
select:focus,
[required]:focus {
    background-color: #fff;
    border-color: #00d;
}
select,
button,
.button {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap; /* Mobile button text wrapping fix for button */
    word-wrap: normal; /* "nowrap" compatibility for IE9 */
    text-overflow: ellipsis;
    outline: 0;
    cursor: pointer;
}
button,
.button {
    min-width: 9.4em;
    margin-top: .55em;
    margin-bottom: .55em;
    color: #fff;
    text-align: center;
    background-color: #666;
    border: 1px solid #666;
}
[disabled] {
    color: #aaa;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    border-color: #ddd;
    box-shadow: none;
    transition: none;
    pointer-events: none;
    cursor: default;
}
select[disabled],
button[disabled],
.button[disabled] {
    background-color: rgba(179,179,179,.08);
    border-color: transparent; /* If color defined, then IE10 shows dark gray on :hover */
}
select:focus option {
    /* Match to parent element width (currently supported only on Firefox) */
    /* Chrome max-width issue https://code.google.com/p/chromium/issues/detail?id=82253 */
    min-width: 100%;
    max-width: 0;
    background-color: #fff;
}
option {
    /* Match to parent element width (currently supported only on Firefox) */
    /* Chrome max-width issue https://code.google.com/p/chromium/issues/detail?id=82253 */
    min-width: 100%;
    max-width: 0;
}
button:active,
.button:active {
    background-color: #999;
    border-color: #999;
}
.button {
    width: auto;
}
a[href].button {
    color: #fff;
    text-decoration: none;
}
[tabindex] {
    outline: 0;
}


/* Design
-------------------------------------------------- */
html,
.wrapper,
.tab {
    /* Avoid content jumping on vertical scrollbar appearing http://jsbin.com/horone/4 */
    width: 100%;
    width: 100vw;
}
html {
    max-width: 100%;
}
div.noscroll {
    overflow: hidden;
}
.wrapper {
    min-height: 100vh;
}
.status {
    opacity: 0;
    position: fixed;
    position: -ms-device-fixed;
    position:     device-fixed; /* Spec request https://github.com/tabatkins/specs/issues/31 */
    z-index: 999;
    left: 0;
    width: 0; /* IE transition issue */
    height: 3px;
    background-color: #60d778;
    box-shadow: 0 0 0 1px rgba(255,255,255,.8);

    /* Enable hardware accelerator */
    -webkit-transform: translateZ(0); /* Android 4.4.4 legacy */
        -ms-transform: translateZ(0); /* IE9 legacy */
            transform: translateZ(0);
    -webkit-backface-visibility: hidden; /* Android 4.4.4 legacy */
            backface-visibility: hidden;
    -webkit-perspective: 1000; /* Android 4.4.4 legacy */
            perspective: 1000;

    will-change: transform; /* will-change http://dev.w3.org/csswg/css-will-change/ */
    pointer-events: none;
}
.status-start:before {
    content: "";
    display: block;
    width: 10%;
    height: 100%;
    float: right;
    background-image: linear-gradient(to right, rgba(96,215,120,0), #62fb82);
    box-shadow: 2px -2px 5px 1px #62fb82;
}
.status-start {
    opacity: 1;
    width: 70%;
    width: 70vw;
    transition: opacity .2s, width 5s cubic-bezier(.2,1,.4,1);
}
.status-done {
    opacity: 0;
    width: 100%;
    width: 100vw;
    transition-duration: .2s;
}
.status-error {
    opacity: 1;
    width: 100%;
    width: 100vw;
    background-color: #f79c87;
    transition: background .2s cubic-bezier(.2,1,.4,1);
}
.status-error:before {
    display: none;
}

/* Navigation */
.tab {
    position: fixed;
    position: -ms-device-fixed;
    position:     device-fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    line-height: 2.2;

    /* In Windows 10 non-Latinic characters are shown as white squares "□" https://code.google.com/p/chromium/issues/detail?id=516209
    "Meiryo" returns ellipsis in middle of text, Windows fonts https://en.wikipedia.org/wiki/List_of_typefaces_included_with_Microsoft_Windows */
    font-family: Segoe UI Historic, Segoe UI Symbol, sans-serif;

    text-align: center;
    white-space: nowrap;
    word-wrap: normal;
    backface-visibility: hidden; /* will-change does not repaint fully .tab.expand height, box-shadow, etc. */
}
.header,
.main,
.footer {
    min-width: 13.6em;
    max-width: 47.45em;
    margin: auto;
    box-sizing: border-box;
}
.header,
.main {
    background-color: #fff;
}
.header {
    position: relative;
    padding: .08em .4em;
}
.header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1.5em;
    background-image: linear-gradient(#fff, rgba(255,255,255,.9) 35%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0));
    pointer-events: none;
}
.nav {
    width: 100%;
    margin: .1em auto;
    font-size: 1.05em;
    background-color: #f4f4f4;
    background-image: linear-gradient(#f8f8f8, rgba(248,249,250,0));
    border: 1px solid #d9e0e2;
    border-bottom-color: #ccc;
    border-radius: .2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.1),
                inset 0 0 0 1px rgba(255,255,255,.5);
}
.nav .noscroll {
    overflow: visible;
    display: inline-block;
    display: -ms-flexbox; /* IE10 legacy */
    display: -webkit-flex; /* Safari 8.4 legacy */
    display:         flex;
}
.nav.nav a,
.footer a {
    color: inherit;
    text-decoration: none;
}
.nav a {
    display: block;
    position: relative;
    -webkit-flex: 1; /* Safari 8.4 legacy */
        -ms-flex: 1; /* IE10 legacy */
            flex: 1;
    -webkit-flex-basis: auto; /* Safari 8.4 legacy */
            flex-basis: auto;
    min-width: 1px; /* IE11 ignores min-width: 0; */
    padding: 0 .63em; /* Firefox flexbox padding percentage issue https://bugzilla.mozilla.org/show_bug.cgi?id=529761 */
    border: 0 solid #d9e0e2;
    border-left-width: 1px;
}
.nav a:first-child { /* Selector supported on IE7+ http://kimblim.dk/css-tests/selectors/ */
    max-width: 3.2em;
    padding: 0;
    border-left: 0;
}
.nav a:first-of-type {
    border-radius: .2em 0 0 .2em;
}
.nav a:last-of-type {
    border-radius: 0 .2em .2em 0;
}
.nav a:hover,
.nav a:focus {
    background-color: #fff;
}
.nav a.focus,
.nav a.error,
.nav.nav a.active {
    line-height: 2.25;
    border-color: transparent;
}
.nav .focus + a,
.nav .active + a,
.nav .error + a {
    border-color: transparent;
}
.nav a.focus {
    background-color: rgba(206,209,210,.4);
}
.nav a.active {
    z-index: 1;
    color: #fff;
    background-color: #006cff;
}
/*.nav a.active:focus {
    background-color: #0369f2;
}*/
.nav a.error {
    background-color: #f7dad4;
}
.nav a > span,
[data-placeholder] {
    overflow: hidden;
    display: block;
    position: relative;
    top: -.06em;
    max-height: 2.3em; /* Old Webkit legacy */
    text-overflow: ellipsis;
}
.bar {
    min-width: 0;
        width: auto;
    height: 2.35em;
    padding: inherit;
    margin: inherit;
    background-color: transparent;
    border: inherit;
    box-shadow: inherit;

    all: unset; /* No support on IE10 and Safari */

    display: none;
    box-suppress: discard;
    position: relative;
    z-index: 3;
    vertical-align: top; /* IE11 - remove top margin */
}
.nav .bar {
    display: inline-block;
    position: relative;
}
.nav a[data-version] {
    line-height: initial;
    margin: initial;
}
[data-version]:before {
    content: attr(data-version);
    position: absolute;
    z-index: 4;
    right: 50%;
    bottom: .65em;
    width: 1.46em;
    height: 1.46em;
    margin-right: -1.46em;
    color: #fff;
    text-shadow: 1px 1px 0 #f00;
    font: bold .55em/1.4 Meiryo, Segoe UI, sans-serif;
    background-color: #f80;
    border-radius: 100%;
    box-shadow: 0 0 0 .17em #fff;
    pointer-events: none;
}
.bar span,
.bar span:before,
.bar span:after {
    display: block;
    width: 1.3em;
    height: .21em;
    background-color: #222;
    border-radius: .5em;
}
.active .bar span,
.active .bar span:before,
.active .bar span:after {
    background-color: #fff;
}
.bar span {
    position: relative;
    z-index: 1;
    margin: 1.07em .65em 1.07em .55em;
    transform: translateY(0); /* Firefox 34 Nightly width fix */
    pointer-events: none; /* IE11 legacy */
}
.bar span:before {
    content: "";
    position: absolute;
    right: 0;
    width: .9em;
    -webkit-transform: translateY(-.42em); /* Android 4.4.4 legacy */
        -ms-transform: translateY(-.42em); /* IE9 legacy */
            transform: translateY(-.42em);
}
.bar span:after {
    content: "";
    position: absolute;
    width: .5em;
    -webkit-transform: translateY(.42em); /* Android 4.4.4 legacy */
        -ms-transform: translateY(.42em); /* IE9 legacy */
            transform: translateY(.42em);
}
.main,
.footer {
    /* position: relative; */
    padding: 0 3em;
    padding: 0 4.9vw;
}
.main {
    overflow: hidden;
    min-height: 100vh;
    padding-top: 3.8em;
    padding-bottom: 6em;
    outline: 1px solid #e1e1e1;
    will-change: contents;
}
.main > div {
    /* Containment https://drafts.csswg.org/css-containment-3/
        https://justmarkup.com/log/2016/04/css-containment/ */
    contain: layout;
}
.main :target {
    background-color: #ff0;
}
.main a:target {
    text-decoration: none;
}
.main a:target:hover {
    text-decoration: underline;
}
.main :target:before {
    /* Hack used also in https://developer.yahoo.com/performance/rules.html */
    content: "";
    display: block;
    height: 2.5em;
    margin-top: -2.5em;
    pointer-events: none;
    background-color: #fff;
}
.error ~ .main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 8.5em;
}
.pubdate {
    display: block;
    margin: .5em 0;
    color: #aaa;
    font-size: .7em;
    font-family: tahoma, sans-serif;
}
.footer {
    overflow: hidden;
    height: 2.7em; /* IE11 issue */
    margin-top: -2.7em;
    line-height: 2.7;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-top: 1px solid #e1e1e1;
}
.footer a {
    display: inline-block;
    color: #777;
}
.footer a + a {
    margin-left: .6em;
}
.footer a:hover,
.footer a:focus {
    color: #222;
    text-decoration: underline;
}



/* Cross-browser compatibility
-------------------------------------------------- */
[hidden],
option[value=""], /* First element as placeholder, fails on IE */
.nav [data-placeholder] {
    /* <template> element breaks whole layout rendering on old browsers */
    display: none;
    box-suppress: discard; /* It is recommended that box-suppress be used instead of display: none,
                              so that the element's display type is automatically preserved for when it's no longer suppressed.
                              http://dev.w3.org/csswg/css-display/#propdef-box-suppress */
}

@media \0screen\,screen\9 { /* IE6-8 http://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/media-tests/ */
    .noscroll,
    .wrapper {
        height: 100%;
    }
    .noscroll.noscroll,
    .main {
        overflow: visible;
    }
    .main {
        min-height: 100%;
    }
    .nav .noscroll {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .nav a {
        display: table-cell;
        vertical-align: top;
    }
    .nav .bar,
    [data-version]:before {
        display: none;
    }
    .nav [data-placeholder] {
        display: inline-block;
    }
}
@media (min-width:0\0) and (min-resolution: .001dpcm) { /* IE9 https://github.com/jeffclayton/css_hack_testing */
    .nav,
    .nav a:first-of-type,
    .nav a:last-of-type {
        border-radius: 0;
    }
    .nav .noscroll {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .nav a {
        display: table-cell;
        vertical-align: top;
    }
    .nav .bar,
    [data-version]:before {
        display: none;
    }
    .nav [data-placeholder] {
        display: inline-block;
    }
}
/* @media (min-width:0\0) { // IE9-10
    input {
        // IE10 Long text overflowing a padding http://jsbin.com/kabeqixogi/1, https://connect.microsoft.com/IE/Feedback/Details/788605
        border: 0 solid transparent;
        border-width: 0 .01em;
        border-radius: .01em;
    }
} */
@media (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ http://www.impressivewebs.com/ie10-css-hacks/ */
    /* html,
    textarea,
    .nav {
        // Auto-hide scrollbar
        // Causes miscalculation on detecting clicked mobile nav scrollbar
        -ms-overflow-style: -ms-autohiding-scrollbar;
    } */
    a {
        /* Remove IE10 :active gray background-color */
        background-color: transparent;
    }
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    :-ms-input-placeholder {
        color: inherit;
    }
    select {
        /* Disable text highlight on element blur on IE11 */
        -ms-user-select: none;
    }
    select:focus::-ms-value {
        /* Remove focused element highlight on IE11 */
        color: initial;
        background-color: initial;
    }
    .nav:before,
    .nav:after {
        /* IE11 width flicker hack */
        transition: width .35s cubic-bezier(.2,1,.4,1);
    }
}
@supports (-ms-accelerator: true) { /* Edge http://browserstrangeness.bitbucket.org/css_hacks.html#edge */
    ::-ms-clear {
        /* Remove input x */
        display: none;
        box-suppress: discard;
    }
    ::-webkit-input-placeholder {
        color: #333;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        opacity: .54;
    }
    select:focus::-ms-value {
        /* Remove focused element highlight on IE11 */
        color: initial;
        background-color: initial;
    }
}
@media (-webkit-min-device-pixel-ratio: 0) {
    @supports (not (-ms-accelerator: true)) { /* Webkit */
        html,
        textarea,
        .nav {
            /* iOS 7 legacy http://barrow.io/overflow-scrolling */
            -webkit-overflow-scrolling: touch;
        }
        html {
            /* Old Webkit smooth text rendering issue */
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%; /* iOS fix */
            /* -webkit-perspective: 1000; */ /* Breaks position: fixed
                                                Android repaint issue on screen orientation change */
        }
        a,
        input,
        select,
        textarea,
        button,
        [tabindex] {
            /* <select> shadow DOM issue https://code.google.com/p/chromium/issues/detail?id=234871 */
            /* Remove outline and highlight-color from click-able elements on Android and iOS */
            -webkit-tap-highlight-color: rgba(51,51,51,0);
        }
        a {
            /* iOS remove bubble dialog on tap-holding */
            -webkit-touch-callout: none;
        }
        input {
            -webkit-hyphens: none; /* Safari 9.1 wraps text to multiple lines */
        }
        input[type=search] {
            -webkit-appearance: textfield; /* Safari 9.1 make filed styleable */
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button,
        input[type=search]::-webkit-search-cancel-button {
            display: none;
        }
        ::-webkit-input-placeholder {
            color: #333;
            text-overflow: ellipsis!important; /* Chrome 49 input:focus and Safari 9.1.1 input applies inline "text-overflow: clip" */
            white-space: nowrap; /* Safari 9.1 wraps text with "-" */
            -webkit-user-select: none;
                    user-select: none;
        }
        [placeholder]:focus::-webkit-input-placeholder {
            opacity: .54;
        }
        .nav a > span,
        [data-placeholder] {
            /* Only Webkit currently supports "mask" value "linear-gradient" */
            text-overflow: clip;
            -webkit-mask: linear-gradient(to left, rgba(51,51,51,0), #333 1.5em, #333); /* Chrome legacy */
                    mask: linear-gradient(to left, rgba(51,51,51,0), #333 1.5em, #333);
        }
        .nav a > span[dir],
        [dir] [data-placeholder] {
            /* "mask" for RTL */
            -webkit-mask: linear-gradient(to right, rgba(51,51,51,0), #333 1.5em, #333); /* Chrome legacy */
                    mask: linear-gradient(to right, rgba(51,51,51,0), #333 1.5em, #333);
        }
    }
    /* @supports (-webkit-backdrop-filter: blur()) { // Safari 9+ } */
}
@-moz-document url-prefix() { /* Firefox */
    ::-moz-selection {
        color: initial;
        text-shadow: none;
        background-color: rgba(255,255,60,.3);
    }
    label:active {
        background-color: transparent;
    }
    input,
    select,
    textarea,
    button {
        background-image: none;
        border-radius: 0;
    }
    input::-moz-focus-inner,
    button::-moz-focus-inner {
        /* Remove button padding */
        border: 0;
        padding: 0;
    }
    ::-moz-placeholder {
        color: #333;
    }
    [placeholder]:not(:focus)::-moz-placeholder {
        opacity: 1;
    }
}



/* Device adaptation http://dev.w3.org/csswg/css-device-adapt/
-------------------------------------------------- */
@media (max-width: 720px) {
    html {
        background-color: #fff;
    }
    html.noscroll {
        overflow: hidden;
    }
    blockquote,
    hr {
        margin-right: -1.9em;
        margin-left: -1.9em;
    }
    blockquote {
        padding-right: 1.9em;
        padding-left: 1.9em;
    }
    input,
    textarea,
    button {
        width: 100%;
    }
    [type=checkbox],
    [type=color],
    [type=image],
    [type=radio] {
        width: auto;
    }
    .footer,
    .nav .bar,
    .expand ~ .tab .header:after,
    [data-version]:before {
        display: none;
        box-suppress: discard;
    }
    .status {
        height: 4px;
    }
    .status:not(.expand) ~ .tab .header {
        transition: none;
    }
    .tab {
        /* width: 100%; */
        padding-bottom: .2em;
        text-align: left; /* IE9 legacy */
        text-align: start;
        background-image: linear-gradient(#fff, rgba(255,255,255,.9) 35%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0));
        pointer-events: none;
    }
    .tab > .bar {
        display: inline-block;
    }
    .bar {
        pointer-events: auto;
        cursor: pointer;
    }
    .bar span,
    .bar span:before,
    .bar span:after {
        transition: width .1s, background-color 1ms, transform .35s cubic-bezier(.2,1,.4,1); /* Simulation http://cubic-bezier.com/#.2,1,.4,1 */
        will-change: transform;
    }
    .bar span {
        transition-duration: .15s;
    }
    .bar:hover,
    .bar:focus {
        background-color: rgba(0,0,0,.07);
    }
    .expand ~ .tab .bar span {
        background-color: transparent;
    }
    .expand ~ .tab .bar span:before {
        width: 1.3em;
        -webkit-transform: rotate(45deg); /* Android 4.4.4 legacy */
            -ms-transform: rotate(45deg); /* IE9 legacy */
                transform: rotate3d(0,0,1,45deg); /* Chrome rotation offset fix */
    }
    .expand ~ .tab .bar span:after {
        width: 1.3em;
        -webkit-transform: rotate(-45deg); /* Android 4.4.4 legacy */
            -ms-transform: rotate(-45deg); /* IE9 legacy */
                transform: rotate3d(0,0,1,-45deg); /* Chrome rotation offset fix */
    }
    .header,
    .expand ~ .tab .nav:before,
    .expand ~ .tab .nav:after {
        min-width: 10em;
        max-width: 76%;
        max-width: 76vw;
            width: 100%;
    }
    .header {
        position: fixed;
        position: -ms-device-fixed;
        position:     device-fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        background-color: #f6f6f6;
        border: 0;
        -webkit-transform: translateX(-100%); /* Android 4.4.4 legacy */
            -ms-transform: translateX(-100%); /* IE9 legacy */
                transform: translateX(-100%);
        /* backface-visibility: hidden; */ /* Causes scrollbar appear under the .active link */ /* will-change breaks pseudo-class position: fixed */
    }
    .expand ~ .tab .header {
        box-shadow: 0 0 4em rgba(51,51,51,.3); /* Webkit legacy */
        box-shadow: 0 0 4em rgba(51,51,51,.11), 0 0 43vw rgba(51,51,51,.3);
        -webkit-transform: none; /* Android 4.4.4 legacy */
            -ms-transform: none; /* IE9 legacy */
                transform: none;
        transition: transform .35s cubic-bezier(.2,1,.4,1);
    }
    .focusin,
    .handler,
    .nav [data-placeholder] {
        display: block;
    }
    .expand ~ .handler,
    .expand ~ .tab .handler {
        position: initial;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
    }
    .expand ~ .handler {
        position: fixed;
        position: -ms-device-fixed;
        position:     device-fixed;
        z-index: 99;
    }
    .expand ~ .main {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        transition: filter .35s cubic-bezier(.2,1,.4,1);
    }
    .nav,
    .nav a:first-of-type,
    .nav a:last-of-type {
        border-radius: 0;
    }
    .nav {
        contain: layout;
        overflow: auto;
        height: 100%;
        margin: 0;
        background: none;
        border: 0;
        box-shadow: none;
        box-sizing: border-box;
        backface-visibility: hidden; /* will-change breaks pseudo-class position: fixed */
        pointer-events: auto; /* Causes scrollbar dislocation on Android */
    }
    .nav .noscroll {
        display: block;
    }
    .nav:before,
    .nav:after {
        content: "";
        position: fixed;
        position: -ms-device-fixed;
        position:     device-fixed;
        left: 0;
        z-index: 2;
        height: 2.35em;
        font-size: 95%;
        will-change: transform;
        pointer-events: none;
    }
    .nav:before {
        top: 0;
        background-image: linear-gradient(#f8f8f8, rgba(248,248,248,.9) 50%, rgba(248,248,248,.8) 60%, rgba(248,248,248,0));
    }
    .nav:after {
        bottom: 0;
        background-image: linear-gradient(rgba(248,248,248,0), rgba(248,248,248,.8) 50%, rgba(248,248,248,.9) 60%, #f8f8f8);
    }
    .nav.nav a { /* Increase selector specificity http://vimeo.com/100264064 minute 03:30 */
        display: block;
        -webkit-flex: 0; /* Safari 8.4 legacy */
                flex: 0;
        /* min-width: 76vw; */
        padding: 0 1.3em;
        float: none; /* IE legacy */
        border-color: rgba(125,138,138,.13);
        border-width: 0;
        border-top-width: 1px;
        /* box-sizing: border-box; */
    }
    .nav a[data-version] {
        line-height: 2.25;
    }
    .nav.nav a:first-child {
        max-width: 100%;
        margin-top: 2.25em;
        border-top: 0;
    }
    .nav a:last-of-type {
        margin-bottom: 2.25em;
    }
    .main {
        padding: 2em 1.9em 3.2em;
        background-color: initial;
        outline: 0;
    }
    .error ~ .main {
        padding-bottom: 6.7em;
    }
    .main [id]:before {
        padding-top: 1.8em;
        margin-top: -1.8em;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 58%;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.15em;
    }
    h3 {
        font-size: 1.3em;
    }
    h3,
    dt {
        font-size: 1.3em;
    }
    button {
        width: 100%;
    }
    .bar {
        font-size: 102.4%;
    }
    .nav span {
        top: 0;
    }
}
@media print {
    @page {
        margin: .5cm;
    }
    html,
    blockquote,
    code,
    pre,
    .main {
        background-color: initial;
    }
    html,
    a,
    cite,
    .pubdate {
        color: initial;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    a {
        text-decoration: underline;
    }
    a[target=_blank] {
        border-bottom: none;
    }
    img {
        page-break-inside: avoid;
    }
    input,
    select,
    textarea,
    .main {
        box-shadow: none;
    }
    .main {
        padding-top: 0;
        padding-bottom: 0;
    }
    .tab,
    .footer {
        display: none;
        box-suppress: discard;
    }
}
