:focus{outline:0;}
html,body{
    overflow:auto;
    height:100%;
}
body{
    *overflow-y:hidden;
    margin:0;
    padding:0;
    color:#000;
    font:14px Sans-Serif;
    text-align:center;
    background-color:#323232;
    background-image:-ms-linear-gradient(rgba(35,35,35,0),#232323);
    background-image:-moz-linear-gradient(rgba(35,35,35,0)2,#232323);
    background-image:-o-linear-gradient(rgba(35,35,35,0),#232323);
    background-image:-webkit-linear-gradient(rgba(35,35,35,0),#232323);
    background-image:linear-gradient(rgba(35,35,35,0),#232323);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#23232300,endColorStr=#232323);
}
header,nav,article,footer{display:block;}
a{
    color:#176092;
    text-decoration:underline;
}
a:hover{text-decoration:none;}
article h1{
    margin:0;
    font-weight:normal;
    font-size:21px;
}
img{-ms-interpolation-mode:bicubic;}
#container{
    width:760px;
    margin:0 auto;
    padding:20px 0;
    text-align:left;
}
#logo{
    display:inline-block;
    font-size:27px;
    vertical-align:middle;
    text-decoration:none;
    text-shadow:0 0 1px #fefefe;
}
#logo,h1{margin-bottom:10px;}
#logo,footer{padding-left:4px;}
header a,footer,footer a{color:#fff;}
header nav{height:20px;}
header nav,#content{margin-bottom:7px;}
header nav a{
    *display:inline-block;
    margin:0 2px;
    padding:2px 5px;
    text-decoration:underline;
    border-radius:2px;
    -ms-transition:.40s ease-in-out;
    -moz-transition:.40s ease-in-out;
    -o-transition:.40s ease-in-out;
    -webkit-transition:.40s ease-in-out;
    transition:.40s ease-in-out;
}
header nav a:hover{
    text-decoration:none;
    background-color:#5db0e6;
}
header nav a.selected{
    text-decoration:none;
    background-color:#176092;
    cursor:default;
}
article{
    height:300px;
    padding:13px 20px;
    color:#000;
    border-radius:5px;
    border:1px solid #f3f3f3;
    background-color:#fff;
}
#content{
    display:inline-block;
    background-color:#fff;
}
#note{
    overflow:hidden;
    position:absolute;
    z-index:10000;
    top:0;
    left:0;
    right:0;
    line-height:2.5;
    text-align:center;
    background-color:#ffe65c;
    background-image:-ms-linear-gradient(#ffe998,#ffe65c);
    background-image:-moz-linear-gradient(#ffe998,#ffe65c);
    background-image:-o-linear-gradient(#ffe998,#ffe65c);
    background-image:-webkit-linear-gradient(#ffe998,#ffe65c);
    background-image:linear-gradient(#ffe998,#ffe65c);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffe998,endColorStr=#ffe65c);
    -webkit-box-shadow:0 0 5px #000;
    -moz-box-shadow:0 0 5px #000;
    box-shadow:0 0 5px #000;
    -moz-transform:translateY(-50px);
    -webkit-transform:translateY(-50px);
    transform:translateY(-50px);
    -moz-animation:slide-down 6s linear 1.5s 1;
    -webkit-animation:slide-down 6s linear 1.5s 1;
    animation:slide-down 6s linear 1.5s 1;
}
@-moz-keyframes slide-down{
    0%,100%{-moz-transform:translateY(-50px);}
    10%,90%{-moz-transform:translateY(0);}
}
@-webkit-keyframes slide-down{
    0%,100%{-webkit-transform:translateY(-50px);}
    10%,90%{-webkit-transform:translateY(0);}
}
@keyframes slide-down{
    0%,100%{transform:translateY(-50px);}
    10%,90%{transform:translateY(0);}
}
footer nav{margin-top:4px;}
footer a{
    padding:0 2px;
    text-decoration:none;
}
footer a:hover{text-decoration:underline;}